/* Dir4main

*
 * DARK GOLD = #574F3D;
 * LIGHT GOLD = #A89E88;
*/


.black {color:#000;}
.orange { color:#E75025;}
.palegold { color:#918770;}
.darkgold { color:#7d6e4d;}
.white {color:#ffffff;}
.red { color:#ff1e34;}

.dir4main .left-column {
	background:#000;
}

.dir4main .mini-nav-wrapper {
	border-right:thin solid #574F3D;
}

.language-item,
.language-item a {
	color:#574F3D;
}


.main-nav-item {
	color:#574F3D;
}

.main-nav-item:hover {
	color:#ffffff;
}


.content-sub-panel {
	background:#fff;
}



/* Landing Page */

#content-dir4-home {
	background-color:#000;
    background:url(img/bg-dir4-home.jpg) center center no-repeat;
}
.tagline {
	background-color:rgb(0, 0, 0);
	background-color:rgba(0, 0, 0, .9);
	color:#f2f2f2;
	padding:35px 0 30px;

	position:absolute;
	width:100%;
	top:50%;
	margin-top:-50px;

}

.tagline-top {
	 text-align:center;    
	 font-size:20px;
}

.tagline-bottom {
	font-family:'Arial';
	font-weight: bold;
	font-style: italic;
	font-size:36px;
	text-transform: uppercase;
    text-align:center;   
}


/* SubNav */

#subnav-dir4-our-service {
	background-color:white;
}


/*
 * Services
 ******************************/


.company-column {
	position:relative;
}
.service-columns {
	position:relative;
	padding: 0;
	margin: 0;
}

.service-item {
	overflow: hidden;
	margin-bottom:-34px;
}
.service-item img {
	max-width: 100%;
	margin-top:-37px;
}

.company-name {
	/*height:100px;*/
	background:black;
	position:absolute;
	top:50%;
	margin-top:-50px;
	left:0;
	width:100%;
	padding:13% 0;

}

.company-name .link-logo  {
	margin:0 auto 0;
}

.service-content {
	display:block;
	opacity: 0;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgb(0, 0, 0);
	background-color:rgba(0, 0, 0, 0.7);

	color:white;

	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.service-content > h2 {
    margin:75px 20px 10px;
}

.service-content > p {
    margin:18px 20px;
}

.service-content > p  {
    font-size:13px;
    letter-spacing: 1px;
}

.company-column:hover .service-content {
	opacity: 1;

	
}

#subnav-dir4-our-people .subnav-item a{
  height:12px;
}

/*
 * About
 ******************************/


#page-dir4-about {
	background: url(img/bg-dir4-about.jpg) center center no-repeat;
}

.parent-pageid-258 .nav-wrapper,
.parent-pageid-258 .language-bar,
.parent-pageid-258 .right-solid-bar {
	width:0;
	overflow: hidden;
}

.parent-pageid-258 .nav-footer {
	left:16px;
}

.parent-pageid-258 .left-column {
	margin-left:24px;
}

.parent-pageid-258 .left-super-column {
	background:white;
	width:18px;
	border-right:7px solid #dbddde;
}

.parent-pageid-258 .center-column {
	margin-left:50px;
	color:white;
	position:relative;
	z-index:5;
	background:none;

	
}

.co-left-column {
	overflow: auto;
	float:left;
	height:100%;
	width:228px;
}

.co-subnav-wrapper {
	margin-top:184px;
}

.parent-pageid-258 .brand {
	display: none;
}

.parent-pageid-258 .co-brand {
	display: block;
	position:fixed;
	left:25px;	
}

.co-subnav li a {
	font-family: 'Arial Black';
	font-style: 11px;
	color:#5b4f3f;
	text-transform: uppercase;
	padding:5px 0;
	display: block;
}

.co-subnav li a:hover {
	color:white;
}

.co-subnav .pdfdownload a {
	margin-left:0;
}

.co-subnav li a.nav-back {
	color:#d1d3d4;
	margin-bottom:20px;
	font-size:9px;
}

.co-subnav li a.nav-back:hover {
	color:#E75025;
}

#page-dir4-company-overview,
#page-dir4-mission-statement,
#page-dir4-objective {
    background: url(img/bg-dir4-company-overview.jpg) left top fixed;

    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.co-right-column {
	margin-left:228px;
	height:100%;
	
}

.ms-txt-wrapper img {
    max-width: 80%;
    margin:0 auto;
    height:auto;
}


.topic-1 {
    position:relative;
    width:760px;
    height:400px;
    top:100px;
    left:50px;
    color:#7c6d51;
 }


.topic-1 .t-value {
    font-family:'Arial Black';
    font-size:150px;
    line-height:150px;
    font-weight:bold;

    position:absolute;
    top:50px;
    overflow:hidden;
    width:495px;
    height:148px;

}

.topic-1 .t-refine {
    /*
    font-family : 'flw_scriptregular';
    font-size:112px;
    line-height:112px;
    */
    background:url(img/text-refined.png) left top no-repeat;
    width:251px;
    height:72px;
    left:382px;
    top:28px;
    text-indent: -9999px;
    overflow: hidden;
    position:absolute;
}

.topic-1 .t-title {
    position:absolute;
    top:100px;
    left:400px;
    color:white;
    font:bold 27px 'Arial Narrow';
    text-transform: uppercase;
}

.topic-1 .t-detail {
	color:white;
    font:normal 14px Arial;
    position:absolute;
    top:200px;
}

.link-to-company-wrapper {
    top:600px;
    left:50px;
    position:absolute;
}

.thousand, .hundred, .deci, .unit{ 
    display:inline-block; 
    float:left; 
    text-transform:uppercase; 
    width:100px; 
}


.cssanimations .topic-1 .t-value .thousand {
    animation: thousand-creation 10s linear 0s infinite normal;
    -moz-animation: thousand-creation 10s linear 0s infinite normal; 
    -ms-animation: thousand-creation 10s linear 0s infinite normal;  
    -o-animation: thousand-creation 10s linear 0s infinite normal;   
    -webkit-animation: thousand-creation 10s linear 0s infinite normal;      
}
.cssanimations .topic-1 .t-value .hundred{
    animation: hundred-creation 10s linear 0s infinite normal;
    -moz-animation: hundred-creation 10s linear 0s infinite normal;    
    -ms-animation: hundred-creation 10s linear 0s infinite normal; 
    -o-animation: hundred-creation 10s linear 0s infinite normal;  
    -webkit-animation: hundred-creation 10s linear 0s infinite normal;     
}
.cssanimations .topic-1 .t-value .deci{
    animation: deci-creation 10s linear 0s infinite normal;
    -moz-animation: deci-creation 10s linear 0s infinite normal; 
    -ms-animation: deci-creation 10s linear 0s infinite normal;  
    -o-animation: deci-creation 10s linear 0s infinite normal;   
    -webkit-animation: deci-creation 10s linear 0s infinite normal;      
}
.cssanimations .topic-1 .t-value .unit{
    animation: unit-creation 10s linear 0s infinite normal;
    -moz-animation: unit-creation 10s linear 0s infinite normal;
    -ms-animation: unit-creation 10s linear 0s infinite normal;
    -o-animation: unit-creation 10s linear 0s infinite normal;
    -webkit-animation: unit-creation 10s linear 0s infinite normal;        
}


@keyframes thousand-creation
{ 
    0% { margin-top:-10em; } 
    4% { margin-top:-9em; } 
    6% { margin-top:-8em; } 
    7% { margin-top:-7em; }
    8% { margin-top:-6em; }
    9% { margin-top:-5em; } 
    10% { margin-top:-4em; } 
    11% { margin-top:-3em; } 
    12% { margin-top:-2em; } 
    14% { margin-top:-1em; }
    18% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-moz-keyframes thousand-creation{  
    0% { margin-top:-10em; } 
    4% { margin-top:-9em; } 
    6% { margin-top:-8em; } 
    7% { margin-top:-7em; }
    8% { margin-top:-6em; }
    9% { margin-top:-5em; } 
    10% { margin-top:-4em; } 
    11% { margin-top:-3em; } 
    12% { margin-top:-2em; } 
    14% { margin-top:-1em; }
    18% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-ms-keyframes thousand-creation{  
    0% { margin-top:-10em; } 
    4% { margin-top:-9em; } 
    6% { margin-top:-8em; } 
    7% { margin-top:-7em; }
    8% { margin-top:-6em; }
    9% { margin-top:-5em; } 
    10% { margin-top:-4em; } 
    11% { margin-top:-3em; } 
    12% { margin-top:-2em; } 
    14% { margin-top:-1em; }
    18% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-o-keyframes thousand-creation{  
    0% { margin-top:-10em; } 
    4% { margin-top:-9em; } 
    6% { margin-top:-8em; } 
    7% { margin-top:-7em; }
    8% { margin-top:-6em; }
    9% { margin-top:-5em; } 
    10% { margin-top:-4em; } 
    11% { margin-top:-3em; } 
    12% { margin-top:-2em; } 
    14% { margin-top:-1em; }
    18% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-webkit-keyframes thousand-creation{  
    0% { margin-top:-10em; } 
    4% { margin-top:-9em; } 
    6% { margin-top:-8em; } 
    7% { margin-top:-7em; }
    8% { margin-top:-6em; }
    9% { margin-top:-5em; } 
    10% { margin-top:-4em; } 
    11% { margin-top:-3em; } 
    12% { margin-top:-2em; } 
    14% { margin-top:-1em; }
    18% { margin-top:0em; }
    100% { margin-top:0em; }
}
@keyframes hundred-creation
{ 
    0% { margin-top:-10em; } 
    1% { margin-top:-10em; } 
    5% { margin-top:-9em; } 
    7% { margin-top:-8em; } 
    8% { margin-top:-7em; }
    9% { margin-top:-6em; }
    10% { margin-top:-5em; } 
    11% { margin-top:-4em; } 
    12% { margin-top:-3em; } 
    13% { margin-top:-2em; } 
    15% { margin-top:-1em; }
    19% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-moz-keyframes hundred-creation{  
    0% { margin-top:-10em; } 
    1% { margin-top:-10em; } 
    5% { margin-top:-9em; } 
    7% { margin-top:-8em; } 
    8% { margin-top:-7em; }
    9% { margin-top:-6em; }
    10% { margin-top:-5em; } 
    11% { margin-top:-4em; } 
    12% { margin-top:-3em; } 
    13% { margin-top:-2em; } 
    15% { margin-top:-1em; }
    19% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-ms-keyframes hundred-creation{  
    0% { margin-top:-10em; } 
    1% { margin-top:-10em; } 
    5% { margin-top:-9em; } 
    7% { margin-top:-8em; } 
    8% { margin-top:-7em; }
    9% { margin-top:-6em; }
    10% { margin-top:-5em; } 
    11% { margin-top:-4em; } 
    12% { margin-top:-3em; } 
    13% { margin-top:-2em; } 
    15% { margin-top:-1em; }
    19% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-o-keyframes hundred-creation{  
    0% { margin-top:-10em; } 
    1% { margin-top:-10em; } 
    5% { margin-top:-9em; } 
    7% { margin-top:-8em; } 
    8% { margin-top:-7em; }
    9% { margin-top:-6em; }
    10% { margin-top:-5em; } 
    11% { margin-top:-4em; } 
    12% { margin-top:-3em; } 
    13% { margin-top:-2em; } 
    15% { margin-top:-1em; }
    19% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-webkit-keyframes hundred-creation{  
    0% { margin-top:-10em; } 
    1% { margin-top:-10em; } 
    5% { margin-top:-9em; } 
    7% { margin-top:-8em; } 
    8% { margin-top:-7em; }
    9% { margin-top:-6em; }
    10% { margin-top:-5em; } 
    11% { margin-top:-4em; } 
    12% { margin-top:-3em; } 
    13% { margin-top:-2em; } 
    15% { margin-top:-1em; }
    19% { margin-top:0em; }
    100% { margin-top:0em; }
}
@keyframes deci-creation
{ 
    0% { margin-top:-10em; } 
    2% { margin-top:-10em; } 
    6% { margin-top:-9em; } 
    8% { margin-top:-8em; } 
    9% { margin-top:-7em; }
    10% { margin-top:-6em; }
    11% { margin-top:-5em; } 
    12% { margin-top:-4em; } 
    13% { margin-top:-3em; } 
    14% { margin-top:-2em; } 
    16% { margin-top:-1em; }
    20% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-moz-keyframes deci-creation{  
    0% { margin-top:-10em; } 
    2% { margin-top:-10em; } 
    6% { margin-top:-9em; } 
    8% { margin-top:-8em; } 
    9% { margin-top:-7em; }
    10% { margin-top:-6em; }
    11% { margin-top:-5em; } 
    12% { margin-top:-4em; } 
    13% { margin-top:-3em; } 
    14% { margin-top:-2em; } 
    16% { margin-top:-1em; }
    20% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-ms-keyframes deci-creation{  
    0% { margin-top:-10em; } 
    2% { margin-top:-10em; } 
    6% { margin-top:-9em; } 
    8% { margin-top:-8em; } 
    9% { margin-top:-7em; }
    10% { margin-top:-6em; }
    11% { margin-top:-5em; } 
    12% { margin-top:-4em; } 
    13% { margin-top:-3em; } 
    14% { margin-top:-2em; } 
    16% { margin-top:-1em; }
    20% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-o-keyframes deci-creation{  
    0% { margin-top:-10em; } 
    2% { margin-top:-10em; } 
    6% { margin-top:-9em; } 
    8% { margin-top:-8em; } 
    9% { margin-top:-7em; }
    10% { margin-top:-6em; }
    11% { margin-top:-5em; } 
    12% { margin-top:-4em; } 
    13% { margin-top:-3em; } 
    14% { margin-top:-2em; } 
    16% { margin-top:-1em; }
    20% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-webkit-keyframes deci-creation{  
    0% { margin-top:-10em; } 
    2% { margin-top:-10em; } 
    6% { margin-top:-9em; } 
    8% { margin-top:-8em; } 
    9% { margin-top:-7em; }
    10% { margin-top:-6em; }
    11% { margin-top:-5em; } 
    12% { margin-top:-4em; } 
    13% { margin-top:-3em; } 
    14% { margin-top:-2em; } 
    16% { margin-top:-1em; }
    20% { margin-top:0em; }
    100% { margin-top:0em; }
}
@keyframes unit-creation{
    0% { margin-top:-10em; } 
    3% { margin-top:-10em; } 
    7% { margin-top:-9em; } 
    9% { margin-top:-8em; } 
    10% { margin-top:-7em; }
    11% { margin-top:-6em; }
    12% { margin-top:-5em; } 
    13% { margin-top:-4em; } 
    14% { margin-top:-3em; } 
    15% { margin-top:-2em; } 
    17% { margin-top:-1em; }
    21% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-moz-keyframes unit-creation{  
    0% { margin-top:-10em; } 
    3% { margin-top:-10em; } 
    7% { margin-top:-9em; } 
    9% { margin-top:-8em; } 
    10% { margin-top:-7em; }
    11% { margin-top:-6em; }
    12% { margin-top:-5em; } 
    13% { margin-top:-4em; } 
    14% { margin-top:-3em; } 
    15% { margin-top:-2em; } 
    17% { margin-top:-1em; }
    21% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-ms-keyframes unit-creation{  
    0% { margin-top:-10em; } 
    3% { margin-top:-10em; } 
    7% { margin-top:-9em; } 
    9% { margin-top:-8em; } 
    10% { margin-top:-7em; }
    11% { margin-top:-6em; }
    12% { margin-top:-5em; } 
    13% { margin-top:-4em; } 
    14% { margin-top:-3em; } 
    15% { margin-top:-2em; } 
    17% { margin-top:-1em; }
    21% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-o-keyframes unit-creation{  
    0% { margin-top:-10em; } 
    3% { margin-top:-10em; } 
    7% { margin-top:-9em; } 
    9% { margin-top:-8em; } 
    10% { margin-top:-7em; }
    11% { margin-top:-6em; }
    12% { margin-top:-5em; } 
    13% { margin-top:-4em; } 
    14% { margin-top:-3em; } 
    15% { margin-top:-2em; } 
    17% { margin-top:-1em; }
    21% { margin-top:0em; }
    100% { margin-top:0em; }
}
@-webkit-keyframes unit-creation{  
    0% { margin-top:-10em; } 
    3% { margin-top:-10em; } 
    7% { margin-top:-9em; } 
    9% { margin-top:-8em; } 
    10% { margin-top:-7em; }
    11% { margin-top:-6em; }
    12% { margin-top:-5em; } 
    13% { margin-top:-4em; } 
    14% { margin-top:-3em; } 
    15% { margin-top:-2em; } 
    17% { margin-top:-1em; }
    21% { margin-top:0em; }
    100% { margin-top:0em; }
}


.ms-txt-wrapper {
    margin-left:18px;

    overflow: auto;

}

.ms-txt-wrapper img {
    margin-top:60px;
}

.ms-txt1 {
     font-family: 'Arial Black';
    font-size:63px;
    font-style: italic;
    color:white;
    text-transform: uppercase;
    line-height: 1;
    display: none;
}


.ms-txt2 {
    font-family: 'Arial Black';
    font-size:32px;
    font-style: italic;
    color:white;
    text-transform: lowercase;
    line-height: 1;
    display: none;
}

.ms-txt3 {
    font-family: 'Arial Black';
    font-size:86px;
    font-style: italic;
    color:#7d6e52;
    text-transform: uppercase;
    line-height: 1;
    display: none;
}

.ms-txt4 {
    font-family: 'Bebas';
    font-size:93px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -3px;
    display: none;
}

.company-overview-logos {
   /* position:absolute;
    left:50px;
    top:400px;*/
    margin-left:128px;
    position:relative;
    z-index:1;
}

.company-overview-logos li {
    float:left;
    margin-right:40px;
}



/* Our People */

#page-dir4-our-people{
    background-color:#dbddde;
}

.quote-slider-wrapper { 
	width:300px;
	height:406px;
	position:relative;
	top:50%;
	margin-top:-203px;
	
	left:50%;
	margin-left:-150px;
/* 	overflow: hidden; */

}



.quoter {
	font-family: 'Arial Black';
	font-size:11px;
	color:black;
	text-align: center;
}

.quoter-position {
	font-family: 'Arial Black';
	font-size:11px;
	font-style: italic;
	color:#666;
	text-align: center;
}

.quotemark {
	background: url(img/sprite.png);
	position:absolute;
	width:40px;
	height:46px;
}

.quotemark.topleft { 
	background-position:0 -43px;
	top:0;
	left:-80px;
}
.quotemark.bottomright { 
	background-position:-40px -43px;
	right:-80px;
	bottom:0;
}

#our-people-content .rslides_nav {
	position:absolute;
	top:50%;
	margin-top:-12px;
}

#our-people-content .next {
	right:20%;
}

#our-people-content .prev {
	left:20%;
}

.quote-slider-wrapper .bx-prev , .quote-slider-wrapper .bx-next {
	position:absolute;
}

.quote-slider-wrapper .bx-prev { left:-80px; top:50%; }

.quote-slider-wrapper .bx-next { right:-80px; top:50%; }


/* Our Clients */
.post-type-archive-clients {

	background: url(img/bg-dir4-ourclients.jpg) no-repeat center bottom fixed;

	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.grey-background {
	background-color:#dbddde;
}

.brown-background {
    background-color: #696152;
}
#content-our-clients .column-left {
	background-color:#dbddde;
}

.client-list-wrapper {
	margin:140px auto 0;
	width:75%;
}

@media only screen and (max-height: 800px) {
    .client-list-wrapper {
        margin-top:140px;
    }

    .client-header {
        margin-top:0;
    }
}

.client-header {
    font-family: 'Arial Black';
    font-size:50px;
    width:60%;
    color:#7d6e52;
    margin-top:50px;
    line-height: 1;
}


.client-switcher {
    float:right;
    width:32px;
}

.playlist-wrapper {
    position:relative;
/*     overflow: hidden; */
}
.playlist-wrapper .bx-prev {
    position:absolute;
    top:50%;
    left:-50px;
}
.playlist-wrapper .bx-next {
    position:absolute;
    top:50%;
    right:-50px;
}

.vimeo-wrapper {
    overflow: hidden;
    position:relative;
}

.single-clients .bx-next, .single-clients .bx-prev {
	top:40%;
}

#page-dir4-job-opportunity {
    background: url(img/bg-dir4-jobs-opportunity.jpg) no-repeat right bottom fixed;

    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

}

.joblist-wrapper {
    margin:123px 46px 0 46px;
    color:white;
    font-size:13px;
}

.job-company {
    font-family: 'Arial Black';
    font-size:11px;
    text-transform: uppercase;
    color:white;
    display: block;
}

.job-title {
    font-family: 'Arial Black';
    font-size:33px;
    color:#918770;
    text-transform: uppercase;
    margin:0;
    margin-top:20px;
    
}

.job-post-date {
    color:white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-style: italic;
    font-size:22px;
    display: block;
}

.job-res-header {
    font-family: 'Arial Black';
    text-transform: uppercase;
    font-size:13px;
    color:#e75025;
}

.job-detail {
    font-size:13px;
    color:white;
}

.job-contact-label {
    font-family: 'Arial Black';
    text-transform: uppercase;
    font-size:13px;
    color:#918770;
}

.job-item-footer a {
    color:white;
    font-size:13px;
}

#page-dir4-contact-us, #page-dir4-contact-form {
    background:url(img/bg-dir4-contact-us.jpg) center bottom fixed;

      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#page-dir4-contact-us .center-column {
    background: none;
}
#dir4-contact-us .column-right {
    
}

.content-column-right-wrapper {
    margin:133px auto 0;
    width:600px;

}

.contact-map-header {
    font-family: 'Arial Black';
    font-size:33px;
    color:#918770;
    text-transform: uppercase;
    margin:0;

}

.contact-map-header .white {
    color:#fff;
}

.contact-info {
    color:white;
    margin-top:15px;
    font-size:13px;
}

.contact-label {
    font-weight: bold;
    color:#f26322;
}

.map-meta a {
    display: block;
    float:left;
    margin-right:3px;
    color:black;
    text-transform: uppercase;
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size:13px;
    padding:8px 12px;
    
    background: #e75025;

}


.contact-footer {
    position:absolute;
    width:100%;
    bottom:30px;


}

.contact-footer-wrapper {
    width:600px;
    margin:0 auto;
}

.contact-footer-header {
    margin-bottom:7px;
    color:#d0d3d4;
    font-family: 'Arial Black';
    font-size:9px;
}
.contact-form {
    width:284px;
}
.dir4input, .dir4textarea {
    background:#d0d3d3;
    color:#595b5c;
    font-size: 9px;
    padding:9px;
    border:none;
    margin-top:10px;
    width:100%;
    font-weight: bold;
}

.dotdotdot {
    background:url(img/dotdotdot.png) left top no-repeat;
    width:25px;
    height:7px;
    margin-top:10px;
}

.contact-submit {
    background:none;
    border:none;

    font-family: 'Arial Black';

    color:#9e8c76;
    font-size: 11px;
    margin-top:10px;
    margin-right:-18px;
    font-weight: bold;

    float:right;

}